@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rio de Janeiro<br />
    RJ, Brasil<br />
    <abbr title=""></abbr>
    
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:suporte@stanleysistemas.xyz">suporte@stanleysistemas.xyz</a><br />
    <strong>Comercial:</strong> <a href="mailto:comercial@stanleysistemas.xyz">comercial@stanleysistemas.xyz</a>
</address>